:root {
  --default-bg-color: rgb(17, 18, 24);
  --default-highlight-color: rgb(22, 158, 227);
}

.App {
  text-align: center;
  background-color: var(--default-bg-color);
  min-height: 100vh;
}

.Columns {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.UniverseColumn {
  width: 250px;
  flex-shrink: 0;
}

.DMXColumn {

}

.StatsColumn {
  width: 250px;
  flex-shrink: 0;
}

.Column {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(60, 60, 60);
}

.Column-header {
  height: 30px;
  width:  100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgb(44, 44, 44);
}




.DMXUniverses {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.UniverseBox {
  width: 96%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-size: 80%;
}

.UniverseBoxValue {
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UniverseBoxNode {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-left: 5%;
  display: flex;
  justify-content: left;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
}




.DMXChannels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 10;
  justify-content: left;
}

.ChannelBox {
  position: relative;
  width: 40px;
  height: 30px;
  background-color: inherit;
}

.ChannelBoxValue {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 75%;
  font-weight: 400;
  color: white;
  opacity: 0.5;
}

.ChannelBoxBackground {
  position: absolute;
  background-color: var(--default-highlight-color);
  box-sizing: border-box;
/*  border-style: solid;
  border-width: 4px;
  border-color: rgb(17, 18, 24);*/
}



.DMXStats {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.StatsBox {
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
  font-size: 80%;
  color: white;
  opacity: 0.9;
}

.StatsBoxName {
  display: flex;
  justify-content: center;
}

.StatsBoxValue {
  display: flex;
  justify-content: center;
}


